# My wikipedia page visit project.

I first start with importing the libraries that I will use.

In [170]:
import pandas as pd
import numpy as np

I import my data which was already flattened.

In [171]:
mydata = pd.read_excel("wikipedia_dataset_flat.xlsx",index_col=0)

Familiarising with the data then I start the cleaning process.

In [172]:
mydata.head(10)

        date                                               page   visits
0 2016-01-01        .xxx_en.wikipedia.org_all-access_all-agents   7089.0
1 2016-01-01        .xxx_en.wikipedia.org_mobile-web_all-agents   6182.0
2 2016-01-01        1._Juli_de.wikipedia.org_desktop_all-agents     20.0
3 2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_all-acces...   5363.0
4 2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...   3186.0
5 2016-01-01  2014_FIFA_World_Cup_en.wikipedia.org_mobile-we...   2136.0
6 2016-01-01  2015_Copa_AmÃ©rica_en.wikipedia.org_all-access...   1160.0
7 2016-01-01  2015_Copa_AmÃ©rica_en.wikipedia.org_desktop_al...    564.0
8 2016-01-01  2015_Copa_AmÃ©rica_en.wikipedia.org_mobile-web...    580.0
9 2016-01-01  2015_in_film_en.wikipedia.org_all-access_all-a...  54347.0

In [173]:
mydata.describe()

             visits
count  5.489130e+05
mean   5.891737e+04
std    8.945236e+05
min    1.000000e+00
25%    3.613000e+03
50%    8.041000e+03
75%    1.331900e+04
max    6.726426e+07

In [174]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549000 entries, 0 to 548999
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    549000 non-null  datetime64[ns]
 1   page    549000 non-null  object
 2   visits  548913 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 16.8+ MB

In [175]:
mydata.date.describe()

C:\Users\loice\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

count                  549000
unique                    366
top       2016-01-01 00:00:00
freq                     1500
first     2016-01-01 00:00:00
last      2016-12-31 00:00:00
Name: date, dtype: object

In [176]:
mydata.isnull().sum()

date       0
page       0
visits    87
dtype: int64

Cleaning and Wrangling process.

In [177]:
mydata.dropna(inplace=True)

In [178]:
mydata.drop_duplicates(inplace=True)

In [179]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548913 entries, 0 to 548999
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    548913 non-null  datetime64[ns]
 1   page    548913 non-null  object
 2   visits  548913 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 16.8+ MB

In [180]:
mydata.describe()

             visits
count  5.489130e+05
mean   5.891737e+04
std    8.945236e+05
min    1.000000e+00
25%    3.613000e+03
50%    8.041000e+03
75%    1.331900e+04
max    6.726426e+07

In [181]:
mydata.isnull().sum()

date      0
page      0
visits    0
dtype: int64

In [182]:
mydata['date'].describe()

C:\Users\loice\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

count                  548913
unique                    366
top       2016-01-01 00:00:00
freq                     1500
first     2016-01-01 00:00:00
last      2016-12-31 00:00:00
Name: date, dtype: object

In [183]:
#splitting date and time
mydata['date1']=pd.to_datetime(mydata['date']).dt.date
mydata['time']=pd.to_datetime(mydata['date']).dt.time
mydata

,date,page,visits,date1,time
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,2016-01-01,00:00:00
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,2016-01-01,00:00:00
2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0,2016-01-01,00:00:00
3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0,2016-01-01,00:00:00
4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0,2016-01-01,00:00:00
...,...,...,...,...,...
548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0,2016-12-31,00:00:00
548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0,2016-12-31,00:00:00
548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0,2016-12-31,00:00:00
548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0,2016-12-31,00:00:00
548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0,2016-12-31,00:00:00

In [184]:
#dropping the unneeded columns
mydroped=mydata.drop(['date','time'],axis=1)

In [185]:
#1st trial to divide using wikipedia
mywikitrial= mydroped[['language','device']]=mydroped['page'].str.split('wikipedia', expand=True)

In [186]:
mywikitrial.head(2)

          0                           1
0  .xxx_en.  .org_all-access_all-agents
1  .xxx_en.  .org_mobile-web_all-agents

In [187]:
mydroped.head(2)

,page,visits,date1,language,device
0,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,2016-01-01,.xxx_en.,.org_all-access_all-agents
1,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,2016-01-01,.xxx_en.,.org_mobile-web_all-agents

In [188]:
mydroped.isna().sum()

page           0
visits         0
date1          0
language       0
device      6222
dtype: int64

In [189]:
mydroped['device'].isna().sum()

6222

In [190]:
mydroped['device'].replace({None:'No_device'},inplace=True)

In [191]:
mydroped.isna().sum()

page        0
visits      0
date1       0
language    0
device      0
dtype: int64

In [192]:
mydroped.describe()

             visits
count  5.489130e+05
mean   5.891737e+04
std    8.945236e+05
min    1.000000e+00
25%    3.613000e+03
50%    8.041000e+03
75%    1.331900e+04
max    6.726426e+07

In [193]:
mydroped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548913 entries, 0 to 548999
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   page      548913 non-null  object
 1   visits    548913 non-null  float64
 2   date1     548913 non-null  object
 3   language  548913 non-null  object
 4   device    548913 non-null  object
dtypes: float64(1), object(4)
memory usage: 25.1+ MB

# Grouping according to language.

Answer to Question 4.

In [194]:
#Check the length of the unique language groups.
uniq_lang=pd.unique(mydroped['language'])

In [195]:
len(uniq_lang)

975

In [196]:
#Group my data according to language
langtypes=mydroped.groupby(pd.Grouper(key='language'),as_index=False).sum()

In [197]:
langtypes.head(10)

                                          language      visits
0                                         .xxx_en.   5141243.0
1                                      1._Juli_de.     39357.0
2                          2014_FIFA_World_Cup_en.   5374533.0
3                           2015_Copa_AmÃ©rica_en.   1872037.0
4                                 2015_in_film_en.   6210011.0
5              2015â€“16_UEFA_Champions_League_en.   3716296.0
6                 2015â€“16_UEFA_Europa_League_en.    724098.0
7  2015å¹´å…«ä»™æ¨‚åœ’æ´¾å°ç²‰å¡µçˆ†ç‚¸äº‹æ•…_zh.    339537.0
8                         2016_Summer_Olympics_en.  14176775.0
9                          2018_FIFA_World_Cup_en.   2588977.0

In [198]:
langtypes.to_excel('my2nd_langtype.xlsx')

After viewing the data

In [199]:
vwd_lang_data=pd.read_excel('my2nd_langtype.xlsx',index_col=0)

In [200]:
vwd_lang_data.head(2)

      language   visits
0     .xxx_en.  5141243
1  1._Juli_de.    39357

In [201]:
vwd_lang_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 975 entries, 0 to 974
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   language  975 non-null    object
 1   visits    975 non-null    int64
dtypes: int64(1), object(1)
memory usage: 22.9+ KB

In [202]:
#slicing out the characters that have language types.
vwd_lang_data['languagespecfc']=vwd_lang_data['language'].str[-3:]

In [203]:
vwd_lang_data.head(2)

      language   visits languagespecfc
0     .xxx_en.  5141243            en.
1  1._Juli_de.    39357            de.

In [204]:
#Groupby the types of language.
langtypespec=vwd_lang_data.groupby(pd.Grouper(key='languagespecfc'),as_index=False,sort=True).sum()
langtypespec.head(10)

  languagespecfc       visits
0            en.  24041277219
1            de.   2593807873
2            zh.    260040471
3            ja.    527952530
4            es.   1408561332
5            fr.   1392899403
6            ru.   1889218803
7            nts    225057162
8            der      1693307

In [205]:
len(langtypespec)

9

In [206]:
langtypespec.to_excel('lang_with_specifics.xlsx')

# Grouping according to device.

Answer to Question 7

In [207]:
#Check the length of the unique device group.
uniq_device=pd.unique(mydroped['device'])

In [208]:
len(uniq_device)

5

In [209]:
#Group my data according to device.
device_types=mydroped.groupby(pd.Grouper(key='device'),as_index=False,sort=True).sum()
device_types.head(10)

                       device        visits
0  .org_all-access_all-agents  1.722891e+10
1  .org_mobile-web_all-agents  4.593680e+09
2     .org_desktop_all-agents  1.015998e+10
3      .org_all-access_spider  1.311924e+08
4                   No_device  2.267505e+08

In [210]:
len(device_types)

5

In [211]:
#my final data with the devices and sum.
device_types.to_excel('finall_device_data.xlsx')

# Page with biggest decline and incline.

Answer to Question 2 and 3

In [212]:
mydroped.head(2)

,page,visits,date1,language,device
0,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,2016-01-01,.xxx_en.,.org_all-access_all-agents
1,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,2016-01-01,.xxx_en.,.org_mobile-web_all-agents

In [213]:
mydroped.isna().sum()

page        0
visits      0
date1       0
language    0
device      0
dtype: int64

In [214]:
#Find general page aggregate.
langagg=mydroped.groupby(pd.Grouper(key='language'),as_index=False).mean()
langagg.head(2)

      language       visits
0     .xxx_en.  7023.556011
1  1._Juli_de.   107.532787

In [215]:
langagg.rename(columns = {'visits':'visit_mean'}, inplace = True)
langagg.head(2)

      language   visit_mean
0     .xxx_en.  7023.556011
1  1._Juli_de.   107.532787

In [216]:
len(langagg)

975

Maximum and Minimum page visit.

In [217]:
#Find maximum page visits.
langmax=mydroped.groupby(pd.Grouper(key='language'),as_index=False).max()
langmax.head(2)

,language,page,visits,date1,device
0,.xxx_en.,.xxx_en.wikipedia.org_mobile-web_all-agents,15035.0,2016-12-31,.org_mobile-web_all-agents
1,1._Juli_de.,1._Juli_de.wikipedia.org_desktop_all-agents,20911.0,2016-12-31,.org_desktop_all-agents

In [218]:
len(langmax)

975

In [219]:
langmax.to_excel('mymax_lang.xlsx')

In [220]:
#Find minimum page visits.
langmin=mydroped.groupby(pd.Grouper(key='language'),as_index=False).min()
langmin.head(2)

,language,page,visits,date1,device
0,.xxx_en.,.xxx_en.wikipedia.org_all-access_all-agents,2215.0,2016-01-01,.org_all-access_all-agents
1,1._Juli_de.,1._Juli_de.wikipedia.org_desktop_all-agents,12.0,2016-01-01,.org_desktop_all-agents

In [221]:
len(langmin)

975

In [222]:
langmin.to_excel('mymin_lang.xlsx')

Rename of columns to find difference.

In [223]:
#Column renaming.
langagg['min_visit']=langmin['visits']
langagg.head(2)

      language   visit_mean  min_visit
0     .xxx_en.  7023.556011     2215.0
1  1._Juli_de.   107.532787       12.0

In [224]:
langagg['max_visit']=langmax['visits']
langagg.head(2)

      language   visit_mean  min_visit  max_visit
0     .xxx_en.  7023.556011     2215.0    15035.0
1  1._Juli_de.   107.532787       12.0    20911.0

In [225]:
#Getting difference in page visits.
langagg['diff_page_visits']=langagg['max_visit']-langagg['min_visit']
langagg.head(2)

      language   visit_mean  min_visit  max_visit  diff_page_visits
0     .xxx_en.  7023.556011     2215.0    15035.0           12820.0
1  1._Juli_de.   107.532787       12.0    20911.0           20899.0

In [226]:
langagg.to_excel('with page difference.xlsx')

In [227]:
sorted_max=langagg.sort_values(by=['diff_page_visits'],ascending=False)
sorted_max.head(5)

,language,visit_mean,min_visit,max_visit,diff_page_visits
588,Main_Page_en.,1.170968e+07,72956.0,67264258.0,67191302.0
264,Ð—Ð°Ð³Ð»Ð°Ð²Ð½Ð°Ñ_ÑÑ‚Ñ€Ð°Ð½Ð¸Ñ†Ð°_ru.,1.478959e+06,343105.0,17846030.0,17502925.0
815,Special:Search_en.,1.500911e+06,309483.0,16991932.0,16682449.0
278,Donald_Trump_en.,1.416287e+05,16902.0,6137438.0,6120536.0
708,Prince_(musician)_en.,6.261184e+04,6634.0,5816910.0,5810276.0

In [228]:
sorted_min=langagg.sort_values(by=['diff_page_visits'],ascending=True)
sorted_min.head(5)

,language,visit_mean,min_visit,max_visit,diff_page_visits
60,æ–‰è—¤æ•è±ª_ja.,129.005464,57.0,434.0,377.0
298,è…”å®¤ç—‡å€™ç¾¤_zh.,46.315574,7.0,1381.0,1374.0
415,How_to_contribute_www.mediawiki.org_all-access...,698.587432,344.0,1972.0,1628.0
416,How_to_contribute_www.mediawiki.org_desktop_al...,568.136612,251.0,1885.0,1634.0
783,SIXTEEN_zh.,698.584699,186.0,2461.0,2275.0

# Grouping by days of the week.

Answer to Question 5 and 6

In [229]:
sumday=mydroped.groupby(pd.Grouper(key='date1'),as_index=False).sum()
sumday.head(5)

        date1      visits
0  2016-01-01  70110063.0
1  2016-01-02  75431128.0
2  2016-01-03  75690625.0
3  2016-01-04  80823742.0
4  2016-01-05  78846869.0

In [230]:
sumday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date1   366 non-null    object
 1   visits  366 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [231]:
sumday.to_excel('no_of_week-days.xlsx')

Group by week

In [232]:
mydata.head(2)

,date,page,visits,date1,time
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,2016-01-01,00:00:00
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,2016-01-01,00:00:00

In [233]:
week_data = mydata.groupby(mydata['date'].dt.weekday).sum()
week_data.head(10)

            visits
date
0     4.904875e+09
1     4.756254e+09
2     4.676263e+09
3     4.571745e+09
4     4.409638e+09
5     4.470286e+09
6     4.551448e+09

In [234]:
#Day ofthe week with most visits.
weekday_max=week_data.max()
weekday_max

visits    4.904875e+09
dtype: float64

In [235]:
#Day ofthe week with leasr visits.
weekday_min=week_data.min()
weekday_min

visits    4.409638e+09
dtype: float64

In [236]:
week_data.to_excel('week-days.xlsx')

# Trending topics on given days.

Answer to Question 1.

In [237]:
mydata.head(2)

,date,page,visits,date1,time
0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0,2016-01-01,00:00:00
1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0,2016-01-01,00:00:00

In [238]:
mydate=mydata.set_index('date')

New years most trending topics.

In [239]:
#Filtering by the date.
newyears=mydate[(mydate.index.get_level_values('date')=='2016-01-01 00:00:00')]

In [240]:
#Sorting to get the most visited pages.
newyears.sort_values(by='visits',inplace=True,ascending=False)
newyears.head(5)

I:\python_p\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,page,visits,date1,time
date,,,,
2016-01-01,Main_Page_en.wikipedia.org_all-access_all-agents,16357307.0,2016-01-01,00:00:00
2016-01-01,Main_Page_en.wikipedia.org_desktop_all-agents,9170612.0,2016-01-01,00:00:00
2016-01-01,Main_Page_en.wikipedia.org_mobile-web_all-agents,6920930.0,2016-01-01,00:00:00
2016-01-01,Wikipedia:Hauptseite_de.wikipedia.org_all-acce...,3062989.0,2016-01-01,00:00:00
2016-01-01,Wikipedia:Hauptseite_de.wikipedia.org_mobile-w...,2306896.0,2016-01-01,00:00:00

In [241]:
newyears.to_excel('new_years_val.xlsx')

November 8th 2016 trending topics.

In [242]:
#Filtering by the date.
nov8th=mydate[(mydate.index.get_level_values('date')=='2016-12-08 00:00:00')]

In [243]:
#Sorting to get the most visited pages.
nov8th.sort_values(by='visits',inplace=True,ascending=False)
nov8th.head(5)

I:\python_p\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,page,visits,date1,time
date,,,,
2016-12-08,Main_Page_en.wikipedia.org_all-access_all-agents,21902049.0,2016-12-08,00:00:00
2016-12-08,Main_Page_en.wikipedia.org_desktop_all-agents,17971691.0,2016-12-08,00:00:00
2016-12-08,Main_Page_en.wikipedia.org_mobile-web_all-agents,3853501.0,2016-12-08,00:00:00
2016-12-08,Wikipedia:Hauptseite_de.wikipedia.org_all-acce...,2734399.0,2016-12-08,00:00:00
2016-12-08,Special:Search_en.wikipedia.org_all-access_all...,2070104.0,2016-12-08,00:00:00

In [244]:
nov8th.to_excel('nov_8th_val.xlsx')